body {
    background-color: #e4e4e4;
}

.button-wrapper {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.button-wrapper > button {
    margin: 0 5px 0 5px;
}

.form-wrapper {
    margin: 10px 0;
}

.add-form-wrapper {
    width: 50%;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 8px #888888;
}

#alamat {
    resize: none;
}

.error {
    color: red;
}