body 
{
    background-color: #e4e4e4;
}

.button-wrapper > button 
{
    margin: 0 5px 0 5px;
}

.form-wrapper 
{
    margin: 10px 0;
}

.add-form-wrapper 
{
    width: 30%;
    padding: 20px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 5px 10px 8px #c8b5b5;
}

#alamat 
{
    resize: none;
}

.error 
{
    color: red;
}
